# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
webapp/.env
venv/
.venv/

# VS Code
.vscode/

# Selenium/ChromeDriver logs
chromedriver.log

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

# Misc
*.log
